@use '../utils' as *;

.it-category-4{
    &-icon{
        & span{
            height: 200px;
            width: 100%;
            display: inline-block;
            line-height: 200px;
            border-radius: 10px;
            text-align: center;
            background-color: var(--it-common-white);
            margin-bottom: 20px;
        }
    }
    &-content{
        & span{
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            color: var(--it-theme-4);
            text-transform: uppercase;
        }
    }
    &-title{
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--it-common-black);
        font-family: var(--it-ff-poppins);
        margin-bottom: 0;
        & a {
            transition: .3s;
            &:hover {
                color: var(--it-theme-4);
            }
        }
        @media #{$lg}{
            font-size: 15px;
        }
    }
    &-shape-1 {
        position: absolute;
        top: 22%;
        left: 51%;
    }
}